?xml version="1.0" encoding="UTF-8" standalone="yes"?>
 

<channels>
 
<channel>
      <name>[COLOR cyan][COLOR  lime]•   [/COLOR] Deportes Español[/COLOR]</name>
  <thumbnail></thumbnail>
<fanart></fanart>
<link>http://ignoreme</link>
   <externallink>https://raw.githubusercontent.com/raltango/Cocina/master/sub_menu.xml</externallink>
</channel>
  </channels>
