?xml version="1.0" encoding="UTF-8" standalone="yes"?>
 
<channels>
 
<channel>
	<name>[COLOR blue][COLOR red]•[/COLOR] 0.1 - Saga El Santuario[/COLOR]</name>
	<thumbnail></thumbnail>
	<fanart></fanart>
	<link>http://ignoreme</link>
	<externallink>https://raw.githubusercontent.com/raltango/Cocina/master/sub_menu.xml</externallink>
	</channel>
	
	<channel>
	<name>[COLOR blue][COLOR red]•[/COLOR] El Santuario[/COLOR]</name>
	<thumbnail></thumbnail>
	<fanart></fanart>
	<link>http://ignoreme</link>
	<externallink>https://raw.githubusercontent.com/raltango/Cocina/master/sub_menu11.xml</externallink>
	</channel>
	
	<channel>
	<name>Ral</name>
	<thumbnail></thumbnail>
	<fanart></fanart>
	<link>http://ignoreme</link>
	<externallink>https://raw.githubusercontent.com/raltango/Cocina/master/ssub_menu12.xml</externallink>
	</channel>
</channels>
